PORT=4000
MONGODB_URI=mongodb+srv://devendra:devendradhakad0101@mychatapp.4rg8clo.mongodb.net/?appName=MyChatApp
REDIS_URL=rediss://default:gQAAAAAAAQuEAAIncDE5MTM4MGEyNzI5YWM0Zjc5YmJlMjNkZTk1OWVkMzc0M3AxNjg0ODQ@stirred-finch-68484.upstash.io:6379
JWT_SECRET=a54j4jl6d34365jhbfreoi97653g454
FRONTEND_URL=http://localhost:5173
